@import url("header.css");
@import url("banner.css");
@import url("formulario.css");
@import url("rodape.css");
@import url("cadastro.css");

:root {
  --cor-de-fundo: #ebecee;
  --branco: #ffffff;
  --laranja: #eb9b00;
  --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  --fonte-principal: "Poppins";
  --azul: #002f52;
  --fonte-secundario: "Josefin Sans";
  --preto: #000000;
  --cinza: #474646;
  --cinza-claro: #858585;
  --vermelho: #d94937;
}

body {
  background-color: var(--branco);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

#erro-msg {
  color: red;
}

.campo__escrita__readonly {
  background-color: rgb(221, 218, 218);
}
